/* ALBUM HTML STYLINGS */
.album-wrapper {
}

.card {
    border-style: solid;
    border-width: 8px;
    border-color: rgba(225, 135, 0, 1.0);
    max-width: 400px;
}

h3.card_title {
    color: white;
    font-size: clamp(10px, 24px, 32px);
}

p.card-text {
    color: dimgrey;
    font-size: clamp(10px, 16px, 32px);
}

.card-header {
    background-color: rgba(210,210,210, 0.9);
}

.card-img-top {
    width: 360px;
    max-width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px;
}
