@page "/About"

<PageTitle>Giovanni Aratico | About</PageTitle>

<!-- Contains content of the page -->
<Header/>
        <div class="content">

            <div class="info" id="info_about">
                <ul id="giovanni_about">
                    <li> I am an American music composer and producer from Phoenix, Arizona.</li>
                    <li> I write music inspired by themes of space, technology and humanity.</li>
                </ul>
            </div>
        </div>


