@page "/About"

<PageTitle>Giovanni Aratico | About</PageTitle>

<!-- Contains content of the page -->
        <div class="content">
            <div class="grid-col-span-2" id="info_about">
                <div id="giovanni_about">
            <p>I'm a Data Science major set to graduate this year.</p> <br/>
            <p>I'm passionate about using data to solve complex problems and create actionable insights.</p> <br />
            <p>My expertise lies in programming languages like Python and R.</p> <br />
            <p>In my free time, I enjoy making music and playing video games, which allows me to flex my creative muscles and unwind.</p> <br />
@*                    <li> I am an American music composer and producer from Phoenix, Arizona.</li>
                    <li> I write music inspired by themes of space, technology and humanity.</li>*@
                </div>
            </div>

            <div class="grid-row-span-2" id="giovanni-pic">
                <img src="../img/face.jpg" alt="giovanni" />
            </div>
        </div>


