/* CONTENT RELATED STYLINGS */
.content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 2vw;
    margin: 2vw;
}

#info_about {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: clamp(1vh, 2vw, 3vw);
    font-weight: 500;
    color: white;
    line-height: 1.25; /* Set the line height to 1.5 times the font size */
    text-indent: 25px; /* Add a 20px indent to the left of the text */
    /* ANIMATIONS */
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
}

#giovanni-pic img {
    width: 30vw;
    height: auto;
    border: solid;
    border-width: 5px;
    border-radius: 75px;
    
    /* ANIMATIONS */
    animation-name: fadeIn, minusXIn;
    animation-duration: 3s, 2s;
    animation-delay: 0s, 0s;
    animation-fill-mode: forwards;
}
/* ANIMATION RULES */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes minusXIn {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
}
@keyframes plusXIn {
    0% { margin-left: -100%; }
    100% { margin-left: 0%; }
}