/* CONTENT RELATED STYLINGS */
.content {
    display: grid;
    grid-template-columns: 3fr 2fr;
    justify-content: space-evenly;
    justify-items: stretch;
    padding: 3vw;
    margin: 2vw;
}

#info_about {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: clamp(1vh, 2vw, 3vw);
    font-weight: 500;
    color: white;
    line-height: 1.0; /* Set the line height to 1.5 times the font size */
}

#giovanni-pic img {
    width: 25vw;
    height: auto;
    border: solid;
    border-width: 3px;
    border-radius: 25px;
    margin: 25px;
}