@page "/"

<PageTitle>Giovanni Aratico | Home</PageTitle>

<!-- Contains content of the page -->
<div class="content">
    <div class="info grid-col-span-2" id="info_index">
        <ul id="giovanni_desc">
            <li> &#128202; Data Analyst. </li>
            <li> &#128187; Web Developer. </li>
            <li> &#127932; Music Composer. </li>
        </ul>
        
        <p id="welcome_desc">

        </p>
    </div>

    <div class="grid-row-span-2" id="giovanni-pic">
        <img src="../img/face.jpg" alt="giovanni" />
    </div>

    <div class="grid-column-span-2" id="spotify-player">
        <iframe src="https://open.spotify.com/embed/playlist/02zhcbfL08VYuGPpOAzhTJ" width="500" height="400"
                frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
    </div>
</div>












