@page "/"


<!-- Contains content of the page -->
<div class="content">
    <div class="info" id="info_index">
        <ul id="giovanni_desc">
            <li>Data Analysis.</li>
            <li>Music Composition.</li>
            <li>Gaming.</li>
        </ul>
        <p id="welcome_desc">
            Here you will find links to my music and my development projects!
        </p>
    </div>

    <div id="spotify-player">
        <iframe src="https://open.spotify.com/embed/playlist/02zhcbfL08VYuGPpOAzhTJ" width="500" height="400"
                frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
    </div>
</div>










