@page "/"

<PageTitle>Giovanni Aratico | Home</PageTitle>

<!-- Contains content of the page -->
<div class="content">
    <div class="info grid-col-span-2" id="info_index">
        <ul id="giovanni_desc">
            <li> Data Analyst | Data Scientist </li>
        </ul>
    </div>
    <div class="grid-row-span-2" id="welcome_desc">
        <p>"Illuminating the Temporal Landscape:<br/>Guiding Data Science's Vanguard"</p>
    </div>
</div>












