/* CONTENT RELATED STYLINGS */
/* BETWEEN (0px to 535px) MEDIA QUERIES */
@media (max-width: 535px) {
    #spotify-player { display: none; }
    .content {
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        justify-items: center;
    }
}
/* BETWEEN (535px to 1121px) MEDIA QUERIES */
@media (min-width: 535px) and (max-width: 1121px) {
    #spotify-player { display: none; }
    .content {
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        justify-items: center;
    }
}

/* BETWEEN (1121px to inf px) MEDIA QUERIES */
@media (min-width: 1121px) {
    #spotify-player { display: grid; }
    .content {
        grid-template-columns: 1fr 2fr;
        justify-content: space-evenly;
        justify-items: stretch;
    }
}



#spotify-player {
    /* ANIMATIONS */
    animation-name: fadeIn, plusXIn;
    animation-duration: 3s, 2s;
    animation-delay: 0s, 0s;
}

/* DEFINES KEYFRAME RULES FOR CSS PROPERTIES */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes minusXIn {
    0% { margin-left: 100%; }
    100% { margin-left: 0%; }
}
@keyframes plusXIn {
    0% { margin-left: -100%; }
    100% { margin-left: 0%; }
}

.content {
    display: grid;
    gap: 1rem;
    padding-block: 1rem;
    margin-left: 1vw;
    margin-right: 1vw;
    align-items: center;
}

/* CURRENT GRID IS A [2 X 2] */
/* GRID ITEMS THAT SPAN 2 COLUMNS */
.grid-column-span-2 { }
/* GRID ITEMS THAT SPAN 2 ROWS */
.grid-row-span-2 { grid-row-start: span 2; }

/* INDEX PAGE SPECIFIC STYLING */
#info_index {
    margin: 1rem;
}
#giovanni_desc {
    font-family: 'Titillium Web', sans-serif;
    font-size: clamp(28px, 40px, 56px);
    font-weight: 800;
    color: white;
    list-style: none;
    /* ANIMATIONS */
    animation-name: fadeIn, plusXIn;
    animation-duration: 3s, 2s;
    animation-delay: 0s, 0s;
}

#welcome_desc {
    font-family: 'Titillium Web', sans-serif;
    font-size: clamp(16px, 28px, 36px);
    font-weight: 500;
    color: white;
    line-height: 1.25; /* Set the line height to 1.5 times the font size */
    text-indent: 25px; /* Add a 20px indent to the left of the text */
    /* ANIMATIONS */
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-delay: 0s;
}
#welcome_desc p {
    padding: 5px;
}





