/* CONTENT RELATED STYLINGS */
/* BETWEEN (0px to 535px) MEDIA QUERIES */
@media (max-width: 535px) {
    .content {
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        justify-items: center;
    }
}
/* BETWEEN (535px to 1121px) MEDIA QUERIES */
@media (min-width: 535px) and (max-width: 1121px) {
    .content {
        grid-template-columns: 1fr;
        justify-content: space-evenly;
        justify-items: center;
    }
}
/* BETWEEN (1121px to inf px) MEDIA QUERIES */
@media (min-width: 1121px) {
    .content {
        grid-template-columns: 2fr 2fr;
        justify-content: space-evenly;
        justify-items: stretch;
    }
}

.content {
    display: grid;
    align-items: center;
}

/* INDEX PAGE SPECIFIC STYLING */
#info_index {
    margin: 5rem;
}
#giovanni_desc {
    font-family: 'Titillium Web', sans-serif;
    font-size: clamp(25px, 35px, 45px);
    font-weight: 600;
    color: white;
    list-style: none;
}

#welcome_desc {
    font-family: 'Titillium Web', sans-serif;
    font-size: clamp(28px, 40px, 56px);
    font-weight: 600;
    color: white;
    line-height: 1.10; /* Set the line height to 1.5 times the font size */
    margin-top: 200px;
    margin-bottom: 200px;
}





