@page "/"

<PageTitle>Giovanni Aratico | Home</PageTitle>

<!-- Contains content of the page -->
<div class="content">
    <div class="info grid-col-span-2" id="info_index">
        <ul id="giovanni_desc">
            <li> &#128202; Data Analyst. </li>
            <li> &#128187; Web Developer. </li>
            <li> &#127932; Music Composer. </li>
        </ul>
    </div>
    <div class="grid-row-span-2" id="welcome_desc">
        <p> Welcome to my website! Here you'll find a collection of my data science projects, web development projects, and music compositions. As a data science major with a background in web development, I'm passionate about using technology to solve complex problems and create meaningful experiences.
        </p>
        <p> In the Projects section of my website, you'll find examples of how I've applied my skills to real-world challenges. From data visualizations and machine learning models to web applications and dashboards, these projects showcase my ability to extract insights from complex datasets and to present those insights in a clear and compelling way.
        </p>
        <p> In the Music section of my website, you can listen to my original compositions and arrangements. I write music inspired by themes of space, technology and humanity.
        </p>
        <p> Whether you're interested in data science, web development, music, or just curious to see what I've been working on, I invite you to explore my website and connect with me if you have any questions or ideas for collaboration.
        </p> 
        <p> Thank you for visiting!
        </p>
    </div>

    <div class="grid-column-span-2" id="spotify-player">
        <iframe src="https://open.spotify.com/embed/playlist/02zhcbfL08VYuGPpOAzhTJ" width="500" height="400"
                frameborder="0" allowtransparency="true" allow="encrypted-media">
        </iframe>
    </div>
</div>












