@page "/"

<PageTitle>Giovanni Aratico | Home</PageTitle>

<!-- Contains content of the page -->
<div class="content">
    <div class="info grid-col-span-2" id="info_index">
        <ul id="giovanni_desc">
            <li id="giovanni_headline"> Data Analyst | Data Scientist </li>
            <li>Data Science major graduate 2023.</li>
            <li>Thriving on data-driven problem-solving, transforming the complex into insights.</li>
            <li>Proficient in Python and R languages.</li>
            <li>In my free time, I enjoy making music and playing video games, which allows me to flex my creative muscles and unwind.</li>
        </ul>
    </div>
    <div class="grid-row-span-2" id="welcome_desc">
        <p>"Illuminating the Temporal Landscape:<br/>Guiding Data Science's Vanguard"</p>
        <div class="grid-row-span-2" id="giovanni-pic">
            <img src="../img/face.jpg" alt="giovanni" />
        </div>
    </div>
   
</div>












