@page "/Music"

<PageTitle>Giovanni Aratico | Music</PageTitle>

<div class="content">
    <div class="container mt-2 ms-2">
        <div class="info" id="info_projects">
            <h2> Albums: </h2>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- ALBUM 1-->
            <div class="col-lg-3 w-30 h-100">
                <!-- m-b-3 = MARGIN BOTTOM = 3 -->
                <div class="card border-primary border-5 m-b-3" style="width: 20rem;">
                    <img src="../img/bs_albumart.png" alt="Bloodshed Saga" class="card-img-top" id="bs-aapic">
                    <div class="card-body">
                        <h3 class="card-title">Bloodshed Saga</h3>
                        <p class="card-text">Released: February 20, 2021</p>
                        <a href="https://album.link/s/7L0mGZIOHhiS6F835bLFYz" class="btn btn-primary"> Listen!</a>
                    </div>
                </div>
            </div>
            <!-- ALBUM 2-->
            <div class="col-lg-3 w-30 h-100">
                <!-- m-b-3 = MARGIN BOTTOM = 3 -->
                <div class="card border-primary border-5 m-b-3" style="width: 20rem;">
                    <div class="card-body">
                        <h3 class="card-title">Insurrectionism</h3>
                        <p class="card-text">Released: TBA</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
