@page "/Music"
@inject HttpClient Http

<PageTitle>Giovanni Aratico | Music</PageTitle>

<div class="content">
    <div class="container mt-2 ms-2">

        <div class="info" id="info_projects">
            <h2> Albums: </h2>
        </div>
        <div class="albums_list">
            <!-- ALBUM 1-->
            @foreach (var album in myAlbums)
            {
                <GiovanniBlazorWebAppE.Shared.ElementDisplays.AlbumDisplay myAlbum="album" />
            }
        </div>

    </div>
</div>

@code {
    // Initializes new empty projects list with get/set
    public List<Models.Album> myAlbums { get; set; } = new();

    // protected = Accessible only through derived (sub-class)
    // override = Used to extend or modify the behavior of a
    // async = Defines start of an asynchronous function
    // Task = Operation performed in an asynchronous manner
    // OnInitializedAsync() = Invoked when component is ready to start
    protected override async Task OnInitializedAsync()
    {
        myAlbums = await Http.GetFromJsonAsync<List<Models.Album>>("../data/Albums.json") ?? new();
    }
}


