
@media (max-width: 500px) {
    #albums_list {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 500px) and (max-width: 800px) {
    #albums_list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    #albums_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    #albums_list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* CONTENT RELATED STYLINGS */
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
}

.info {
    font-family: 'Titillium Web', sans-serif;
    text-decoration: none;
    font-size: clamp(1.5rem, 2vw, 4rem);
    font-weight: 800;
    color: white;
}


