
@media (max-width: 500px) {
    #projects_list {
        grid-template-columns: 1fr;
    }
}
@media (min-width: 500px) and (max-width: 800px) {
    #projects_list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 800px) and (max-width: 1000px) {
    #projects_list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1000px) {
    #projects_list {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* PORTFOLIO / PROJECTS PAGE SPECIFIC STYLING */
#info_projects h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: white;
    width: 75vw;
    margin-top: 2.5vh;
    margin-left: 2.5vw;
}

#projects_list {
    justify-content: space-evenly;
    display: grid;
    gap: 1.5rem;
    padding-block: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

