/* SOCIAL LINKS STYLING */

#social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

    #social-links a {
        vertical-align: middle;
        padding: clamp(0.5vw, 1vw, 1.5vw);
        background-color: rgba(175, 175, 175, 0.75);
        border-radius: 50%;
        margin-left: 10px;
        margin-right: 10px;
    }

        #social-links a svg {
            width: clamp(25px, 75px, 125px);
            height: clamp(25px, 75px, 125px);
        }
