/* SOCIAL LINKS STYLING */

#social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: clamp(10px, 25px, 50px);
    padding-top: clamp(10px, 25px, 50px);
}

#social-links a {
    padding: clamp(0.25vw, 0.50vw, 0.75vw);
    border-radius: 99%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#social-links a svg {
    width: clamp(2em, 4em, 6em);
    height: clamp(2em, 4em, 6em);
}
