/* SOCIAL LINKS STYLING */

#social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    padding-top: 25px;
}

#social-links a {
    vertical-align: middle;
    padding: clamp(0.5vw, 1vw, 1.5vw);
    border-radius: 99%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#social-links a svg {
    width: clamp(2em, 4em, 6em);
    height: clamp(2em, 4em, 6em);
}
