<!-- Section header containing heading and headshot -->
<section class="align-middle" id="header">
    <!-- Denotes heading tags, bigger number = smaller header  -->
    <h1> Giovanni Aratico | SanaraX </h1>
    <!-- img = Image tag,
             SRC = Where the pic is,
             img-thumbnail = Bootstrap class to round pic
             img-fluid -->
    <img src="./img/face.jpg" id="headshot">

    <!-- Denotes list of social media links
        SVG icons pulled from Bootstraps icons -->
</section>


@code {

}
