body {
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(30, 0, 15);
}

.site-wrapper {
    max-width: 99vw;
    border-radius: 10px;
    background-image: linear-gradient(rgba(120, 80, 120, 0.98), rgba(120, 80, 120, 0.98)), url(./img/background.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}
