@inherits LayoutComponentBase

@* RAZOR COMMENTS *@
<div class="page">
    <section class="site-wrapper">
        <Navbar />
            <main>
                @Body
            </main>
        <Footer/>
    </section>
</div>
