/*  NAVBAR RELATED STYLINGS */
.nav-container { }

nav p {
    font-size: clamp(3vh, 3vw, 2.5vw);
    font-weight: 900;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    margin: 3vw;
}


#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(rgba(50, 10, 70, 0.95), rgba(50, 10, 70, 0.50));
    border-radius: 5px;
    padding-left: 1vw;
}

#navbar ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-left: 2vh;
    margin-right: 2vh;
}

#navbar ul li a {
    font-size: clamp(3vh, 3vw, 2.5vw);
    font-weight: 700;
    font-family: 'Titillium Web', sans-serif;
    color: white;
    border-radius: 2px;
    text-shadow: 0px 0px 5px grey;
}

#navbar ul li a:hover {
    text-shadow: 0px 0px 10px lightgrey;
}




